<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JigSaw</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main class="contenedor">
        
        <div class="flecha-atras-select">
            <a href="../index.html" class="atras" ><img src="../img/flecha-izquierda.png" alt="flecha atras"></a>
        </div>
        <div class="titulo-select">
            <h1 class="titulo-jigsaw">JigSaw</h1>
            <h2>Rompecabezas</h2>
        </div>

        <h2 class="titulo-seleccion">Seleccione la Dificultad</h2>

        <nav id="dificultad" class="menu-select">
            <div class="texto-select">
                <a data-id="1" class="btn-select" href="facil.html">Facil</a>
            </div>
                
            <div class="texto-select">
                <a data-id="2" class="btn-select" href="medio.html">Medio</a>
            </div>

            <div class="texto-select">
                <a data-id="3" class="btn-select" href="dificil.html">Dificil</a>
            </div>
        </nav>
    </main>

</body>
</html>